<div class="user-timeline col-md-7">
  <ul class="list-group">
    <% @user.home_timeline.each do |tweet| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-1">
            <img class="profile-image" src="<%= tweet.user.profile_image_uri.to_s %>">
          </div>

          <div class="col-md-7">
            <strong class="tweet-user-name"><%= tweet.user.name %></strong>
            <span class="tweet-screen-name">@<%= tweet.user.screen_name %></span>
            <br>
            <%= tweet.text %>
          </div>
        </div>
        <%= render partial: "dashboard/favorite_button", locals: { tweet: tweet }%>
      </li>
    <% end %>
  </ul>
</div>
